 {% extends 'ca/loggedin_base.html' %}

{%block extra_css %}
<!-- <link rel="stylesheet" href="/static/css/own/dashboard.css" media="screen" title="no title" charset="utf-8"> -->
<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/style.css">
{%endblock%}

{% block navbar_name %}
<l class="navbar-brand">It's Dashboard!</l>
{% endblock %}

{% block content %}
<div id="menu">
<div class="panel">
  <a href="{% url 'ca:to_do_list' %}">
<h1 class="name">Registrations</h1>
<h2 class="type">0/20</h2><span class="price">{{technexuser_college_count}}/20</span><span class="abv">6.6%</span>
</a>
</div>

<div class="panel">
  <a href="{% url 'ca:poster_upload' %}">
<h1 class="name">Poster Upload</h1>
<h2 class="type">0/5</h2><span class="price">{{poster_count}}/5</span><span class="abv">5.5%</span>
</a>
</div>
<div class="panel">
<h1 class="name">Technex FB Page</h1>
<h2 class="type">Like</h2><span class="price"></span><span class="abv">5%</span>
</div>
<div class="panel">
<h1 class="name">Technex New Post</h1>
<h2 class="type">2 new blah!</h2><span class="price"></span><span class="abv"></span>
</div>
</div>
<div class="content">
  <div class="container">
  <div class="row">
  <div class="col-md-3 columns">
          </div>
          </div>
        </div>

                    {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-{{msg.level_tag}}">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">
                      &times;</a>
                    {{msg.message}}
                    </div>
                    {% endfor %}
                    </ul>
                    {% endif %}
          </div>
        </div>
      </div>
  </div>


{% endblock %}
{%block extra_js%}
<script src="/static/js/index.js" charset="utf-8"></script>
{%endblock%}
