 {% extends 'ca/loggedin_base.html' %}

{%block extra_css %}
<link rel="stylesheet" href="/static/css/own/dashboard.css" media="screen" title="no title" charset="utf-8">
<!-- <link rel="stylesheet" href="/static/css/reset.css"> -->
<!-- <link rel="stylesheet" href="/static/css/style.css"> -->
{%endblock%}

{% block navbar_name %}
<l class="navbar-brand">It's Dashboard!</l>
{% endblock %}

{% block content %}

<div class="content">
  <div class="container">
  <div class="row">
  <div class="col-md-3 columns">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Tasks</strong></div>
        <div class="list-group">
         <a class="list-group-item " href="#">
           task1
           <span class="pull-right">
           </span></a>
        </div>
      </div>
    </div>


          </div>
          <div class="col-md-6 ">
                    {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-{{msg.level_tag}}">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">
                      &times;</a>
                    {{msg.message}}
                    </div>
                    {% endfor %}
                    </ul>
                    {% endif %}
          </div>
        </div>
      </div>
  </div>


{% endblock %}
{%block extra_js%}
<!-- <script src="/static/js/index.js" charset="utf-8"></script> -->
{%endblock%}
