{% extends 'technexuser/loggedin_base.html' %}

{%block extra_css %}
<link rel="stylesheet" href="/static/css/own/dashboard.css" media="screen" title="no title" charset="utf-8">

{%endblock%}

{% block navbar_name %}
<l class="navbar-brand">It's Dashboard!</l>
{% endblock %}


{% block content %}

<div class="content">
 <div class="container">
 <div class="row">
 <div class="col-md-3 columns">

   <div class="panel panel-default">
   <!-- Default panel contents -->
   <div class="panel-heading text-center">
     <b>Categories</b>
   </div>

   <!-- List group -->
   <ul  class="list-group">
     {% for parentevent in parentevents %}
 <a class="list-group-item" id="{{parentevent.parentEventId}}">{{ parentevent.categoryName }}</a>
        {% endfor %}
   </ul>
 </div>
       </div>
                 <div class="col-md-9 columns">
                   {% for parentevent in parentevents %}
                   <div class="">
                     <p class="{{ parentevent.parentEventId }}">
                       {{ parentevent.description }}
                     </p>
                     <br><br>
                    {% for event in parentevent.event_set.all %}
                     <div class="events">
                       <ul>
                         <a>{{event.eventName}}</a>
                       </ul>
                     </div>
                     {% endfor %}
                   </div>
                   {% endfor %}
                   {% if messages %}
                   {% for msg in messages %}
                       <div class="alert alert-{{msg.level_tag}}">
                   <a href="#" class="close" data-dismiss="alert" aria-label="close">
                     &times;</a>
                   {{msg.message}}
                   </div>
                   {% endfor %}
                   </ul>
                   {% endif %}
         </div>
       </div>
     </div>
 </div>


{% endblock %}
{% block extra_js%}
<script type="text/javascript">
$(document).ready(function(){
    $("#").click(function(){
        $("").toggleClass("blue");
    });
});

</script>
<script src="/static/js/events.js" charset="utf-8"></script>
{%endblock%}
