.badge{
  margin-left: -3.5px;
  margin-top: -10px;
  background-color: #8282c9;
}
.fa{
   font-size: 1.3em !important;
  /*color: #8282c9;*/

}
.dropdown-menu {
  min-width: 300px;
  margin-left: -20px;

 }
 .navbar{
    background-color: :#fff;
    border-color: #030033;
    box-shadow: 0 8px 6px -6px #999;
}

.navbar-default .navbar-nav > li > a {
 color: black;
  }
  html, body {
    height:100%;
    margin:0;
    padding:0;
    }

    html{
    height: 100%;
    }

    body {
    height: 100%;
    width: 100%;
    }

    #canvas {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .jumbotron {
     background: rgb(200, 54, 54) !important; /* This is for ie8 and below */
     background: rgba(200, 54, 54, 0.3) !important;
    }
