body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#info {
  display: none;
}

/* the app - a beer menu / ordering app */
#menu {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 55%;
  margin-bottom: 0;
  /* note: the translateZ(0) enables hardware accel */
  /* without it, there is a weird gap between panels */
  -webkit-transform: translate(0%, -50%) translateZ(0);
          transform: translate(0%, -50%) translateZ(0);
  height: 80vh;
  width: 25%;
  overflow: hidden;
  box-shadow: 4vh 7vh 14vh -6vh rgba(0, 0, 0, 0.35), -4vh 7vh 14vh -6vh rgba(0, 0, 0, 0.35);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* info panels for each beer */
.panel {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  /* the icon for this beer (initially invisible) */
  /* each panel has its own color scheme */
}
.panel .price {
  font-size: 0;
}
.panel .name, .panel .type, .panel .price, .panel .abv {
  position: absolute;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.panel .name {
  left: 5vh;
  top: 50%;
  margin-top: -2.5vh;
  font-size: 5vh;
  line-height: 5vh;
  font-weight: 300;
}
.panel .type {
  left: 5vh;
  top: 50%;
  margin-top: 2.5vh;
  font-size: 0;
  line-height: 2.5vh;
  font-weight: 100;
}
.panel .price {
  top: 50%;
  left: 5vh;
  margin-top: 20vh;
  line-height: 2.5vh;
  font-weight: 500;
}

.panel .abv {
  top: 50%;
  right: 5vh;
  font-size: 2.5vh;
  line-height: 2.5vh;
  font-weight: 500;
}
.panel svg {
  position: absolute;
  top: 50%;
  margin-top: -10vh;
  height: 20vh;
  fill: none;
  stroke-width: 2%;
  stroke-linejoin: round;
  stroke-linecap: round;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.panel:nth-of-type(1) {
  z-index: 9;
  background: -webkit-radial-gradient(top left, circle, #f6ec82, #f6ec82, #f3e65c);
  background: radial-gradient(circle at top left, #f6ec82, #f6ec82, #f3e65c);
  -webkit-filter: drop-shadow(0 0 1vh #b58325);
          filter: drop-shadow(0 0 1vh #b58325);
}
.panel:nth-of-type(1) h1, .panel:nth-of-type(1) h2, .panel:nth-of-type(1) h3 {
  color: #DFB361;;
}
.panel:nth-of-type(1) .price {
  color: #DFB361;
}
.panel:nth-of-type(1) .abv {
  color: #ffffff;
}
.panel:nth-of-type(1) svg {
  stroke: #ffffff;
}
.panel:nth-of-type(2) {
  z-index: 8;
  background: -webkit-radial-gradient(top left, circle, #dfb361, #dfb361, #d8a33f);
  background: radial-gradient(circle at top left, #dfb361, #dfb361, #d8a33f);
  -webkit-filter: drop-shadow(0 0 1vh #a4452a);
          filter: drop-shadow(0 0 1vh #a4452a);
}
.panel:nth-of-type(2) h1, .panel:nth-of-type(2) h2, .panel:nth-of-type(2) h3 {
  color: #D6795E;
}
.panel:nth-of-type(2) .price {
  color: #D6795E;
}
.panel:nth-of-type(2) .abv {
  color: #F6EC82;
}
.panel:nth-of-type(2) svg {
  stroke: #F6EC82;
}
.panel:nth-of-type(3) {
  z-index: 7;
  background: -webkit-radial-gradient(top left, circle, #d6795e, #d6795e, #ce5e3d);
  background: radial-gradient(circle at top left, #d6795e, #d6795e, #ce5e3d);
  -webkit-filter: drop-shadow(0 0 1vh #633146);
          filter: drop-shadow(0 0 1vh #633146);
}
.panel:nth-of-type(3) h1, .panel:nth-of-type(3) h2, .panel:nth-of-type(3) h3 {
  color: #A75377;
}
.panel:nth-of-type(3) .price {
  color: #A75377;
}
.panel:nth-of-type(3) .abv {
  color: #DFB361;
}
.panel:nth-of-type(3) svg {
  stroke: #DFB361;
}
.panel:nth-of-type(4) {
  z-index: 6;
  background: -webkit-radial-gradient(top left, circle, #a75377, #a75377, #8c4564);
  background: radial-gradient(circle at top left, #a75377, #a75377, #8c4564);
  -webkit-filter: drop-shadow(0 0 1vh #11111a);
          filter: drop-shadow(0 0 1vh #11111a);
}
.panel:nth-of-type(4) h1, .panel:nth-of-type(4) h2, .panel:nth-of-type(4) h3 {
  color: #3B3B56;
}
.panel:nth-of-type(4) .price {
  color: #3B3B56;
}
.panel:nth-of-type(4) .abv {
  color: #D6795E;
}
.panel:nth-of-type(4) svg {
  stroke: #D6795E;
}

/* panels get larger and show more info when you hover over them */
.panel:hover {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.panel:hover .name {
  left: 8vh;
  margin-top: -3.75vh;
}
.panel:hover .type {
  left: 15vh;
  margin-top: 1.75vh;
  font-size: 2.5vh;
}
.panel:hover .abv {
  margin-top: 1.25vh;
}
.panel:hover svg {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

/* when you click on a panel, the others are hidden */
.panel.hidden {
  -webkit-box-flex: 0.0000000001;
  -webkit-flex-grow: 0.0000000001;
      -ms-flex-positive: 0.0000000001;
          flex-grow: 0.0000000001;
}
.panel.hidden * {
  opacity: 0;
  pointer-events: none;
}

/* when you click on a panel, it becomes active */
.panel.active {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.panel.active svg {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  height: 15vh;
  margin-top: 0;
  left: 2.5vh;
  opacity: 1;
}
.panel.active .name, .panel.active .type, .panel.active .abv, .panel.active .price {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.panel.active .name {
  left: 15vh;
  margin-top: 5vh;
  font-size: 7.5vh;
  font-weight: 100;
}
.panel.active .type {
  font-size: 0;
}
.panel.active .abv {
  margin-top: 20vh;
}
.panel.active .price {
  font-size: 2.5vh;
}
.panel.active:nth-of-type(1) .name, .panel.active:nth-of-type(1) .abv {
  color: #3B3B56;
}
.panel.active:nth-of-type(1) svg {
  stroke: #D6795E;
}
.panel.active:nth-of-type(2) .name, .panel.active:nth-of-type(2) .abv {
  color: #ffffff;
}
.panel.active:nth-of-type(2) svg {
  stroke: #A75377;
}
.panel.active:nth-of-type(3) .name, .panel.active:nth-of-type(3) .abv {
  color: #F6EC82;
}
.panel.active:nth-of-type(3) svg {
  stroke: #3B3B56;
}
.panel.active:nth-of-type(4) .name, .panel.active:nth-of-type(4) .abv {
  color: #DFB361;
}
.panel.active:nth-of-type(4) svg {
  stroke: #ffffff;
}

@media (orientation: landscape) {
  /* put a blurred image in the background, just for pretty presentation */
  body::before {
    content: '';
    display: block;
    height: 100vh;
    width: 100%;
    background: url("../maxresdefault.jpg") center/cover;
    -webkit-filter: blur(0.5vh);
            filter: blur(0.5vh);
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
    opacity: 1;
  }
}
@media (orientation: portrait) {
  #menu {
    border-radius: 0;
    width: 100%;
  }
}
.content{
  background-color: black;
  position: absolute;
  right: 8%;
  top: 20%;
  height: 50%;
  width: 60%;
  border-radius: 20px;
}

