{% extends 'own/base.html' %}

{%block extra_css %}
<link rel="stylesheet" href="/static/css/own/dashboard.css" media="screen" title="no title" charset="utf-8">
{%endblock%}

{% block navbar_name %}
<l class="navbar-brand">Change Password</l>
{% endblock %}
{% block extra_auth %}
  <li>
      <a href="/dashboard/"><i class="fa fa-cog"></i> Dashboard</a>
  </li>
{% endblock %}

{% block content %}

<div class="content">
  <div class="container">
      <div class="row">
        <div class="col-md-3 columns">
          <br>
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Settings</strong>
            </div>
            <div class="list-group">
              <a class="list-group-item " href="/change_email/">
                Change Email
              </a>
              <a class="list-group-item active  " href="/change_password">
                Change Password
              </a>
                <a class="list-group-item" href="/account_delete/">
                  Delete Account
                </a>
            </div>
          </div>
        </div>
        <div class="col-md-9 columns">
          <div class="container">
            <h3>Change Email</h3>
      <form class="" action="index.html" method="post">
        password form
      </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
