{% extends 'own/loggedin_base.html' %}

{%block extra_css %}
<link rel="stylesheet" href="/static/css/own/dashboard.css" media="screen" title="no title" charset="utf-8">
{%endblock%}

{% block navbar_name %}
<l class="navbar-brand">Hello {{request.user.userprofile.name}}, Welcome to the Settings !</l>
{% endblock %}
{% block extra_auth %}
  <li>
      <a href="/dashboard/"><i class="fa fa-cog"></i> Dashboard</a>
  </li>
{% endblock %}
{% block content %}

<div class="content">
  <div class="container">
      <div class="row">
        <div class="col-md-3 columns">
          <br>
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Settings</strong>
            </div>
            <div class="list-group">
              <a class="list-group-item " href="{% url 'account_email' %}">
                Change Email
              </a>
              <a class="list-group-item " href="{% url 'account_change_password' %}">
                Change Password
              </a>
              <b class="list-group-item"></b>
            </div>
          </div>
        </div>
        <div class="col-md-9 columns">
          <div class="container">
            <h3>Account Details</h3>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
