{% extends "own/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
<title>Register Now!</title>
{% endblock %}

{% block css%}
<!-- <link rel="stylesheet" href="/static/css/own/signupstyle.css"> -->
<link rel="stylesheet" href="/static/css/materialize.min.css">
{% endblock %}

{%block navbar %}
<nav>
  <div class="nav-wrapper cyan darken-2">
    <a href="#!" class="brand-logo"> &nbsp &nbsp Technex Campus Ambassador Registration Form</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn-large blue lighten-2 z-depth-2" href="/">Sign in</a></li>
    </ul>
  </div>
</nav>
{%endblock%}

{% block content %}
<br>
<br>
<div class="row">
  <div class="container">
    <form class="col s12" id="signup_form" method="POST" action="">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="row">
        <div class="input-field col s6">
          <input class=" validate" id="id_name" name="name" type="text" length="30" />
          <label for="name">Name</label>
          {{form.name.errors}}
        </div>

        <div class="input-field col s6">
          <select name="college">
            <option value="" selected="selected">Choose your College</option>
            <option value="IIT (BHU)">IIT (BHU)</option>
            <option value="IIT-BOMBAY">IIT-BOMBAY</option>
            <option value="IIT-DELHI">IIT-DELHI</option>
            <option value="IIT-MADRAS">IIT-MADRAS</option>
            <option value="IIT-ROORKEI">IIT-ROORKEY</option>
            <option value="IIT-GUWAHATI">IIT-GUWAHATI</option>
            <option value="OTHER">OTHER</option>
          </select>
          {{form.name.errors}}
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="input-field col s6">
          <input class="validate" id="id_email" name="email" type="text" length="30"/>
          <label for="email">Email</label>
          {{form.email.errors}}
        </div>

        <div class="input-field col s6">
          <input class="validate" id="id_password1" name="password1" type="password" length="10"/>
          <label for="password1">Password</label>
          {{form.password1.errors}}
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col s4 offset-s2">
          <br>
          <button class="btn waves-effect waves-purple  btn-large blue lighten-2 z-depth-3" type="submit">Get Started&raquo;</button>
        </div>
        <div class="input-field col s6">
          <input class=" validate" id="id_password2" name="password2" type="password" length="10" />
          <label for="password2">Password (again)</label>
          {{form.password2.errors}}
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock %}
{%block footer%}
<br>
<br>
<br>
<footer class="page-footer cyan darken-2">
  <div class="footer-copyright ">
    <div class="container center">
      © 2016 AGS Productions
    </div>
  </div>
</footer>

{%endblock%}

{%block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
  $('select').material_select();
});
</script>

<script type="text/javascript" src="/static/js/materialize.min.js"></script>
{%endblock%}
