{% extends 'own/base.html' %}

{%block extra_css %}
<link rel="stylesheet" href="/static/css/own/dashboard.css" media="screen" title="no title" charset="utf-8">
{%endblock%}

{% block navbar_name %}
<l class="navbar-brand">Hello {{user.name}}, Welcome to the Dashboard !</l>
{% endblock %}

{% block content %}

<div class="content">
 <div class="container">
 <div class="row">
 <div class="col-md-3 columns">
 <div class="panel panel-default">
     <div class="panel-heading"><strong>Settings</strong></div>
     <div class="list-group">
         <a class="list-group-item  " href="/to_do_list/">
             To-Do list
         </a>
         <a class="list-group-item " href="/poster_upload/">
             Poster Upload
         <a class="list-group-item " href="/upcoming_events/">
           Upcoming Events
         </a>
         <a class="list-group-item active" href="/snf/">
           Suggestions and Feedback
         </a>

     </div>
 </div>

                 </div>
                 <div class="col-md-9 columns">
         </div>
       </div>
     </div>
 </div>
</div>

{% endblock %}
