{% extends 'own/loggedin_base.html' %}

{%block extra_css %}
<link rel="stylesheet" href="/static/css/own/dashboard.css" media="screen" title="no title" charset="utf-8">
{%endblock%}

{% block navbar_name %}
<l class="navbar-brand">Hello {{user.name}}, Welcome to the Dashboard !</l>
{% endblock %}

{% block content %}

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 columns">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Tasks</strong></div>
          <div class="list-group">
          <a class="list-group-item active " href="{% url 'to_do_list' %}">
             To-Do list
          </a>
          <a class="list-group-item " href="{% url 'poster_upload' %}">
             Poster Upload
          <a class="list-group-item " href="">
           Upcoming Events
          </a>

        </div>
      </div>
    </div>
    <div class="col-md-9 columns">
        <div class=" text-center jumbotron">
          <h2> Tasks to Do</h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <h1>{{college_count}}/20 Registrations</h1>
            <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
            aria-valuenow="{{college_count}}" aria-valuemin="0" aria-valuemax="100" style="width:{{college_count}}%">
              {{college_count }}
              </div>
            </div>
          </li>
        </ul>
      </div>
       </div>
     </div>
 </div>
</div>

{% endblock %}
